<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.PrestamoLibrosGABRYANConnectionString"
            connectionString="Data Source=PrestamoLibrosGABRYAN.mssql.somee.com;Initial Catalog=PrestamoLibrosGABRYAN;Persist Security Info=True;User ID=Emiteox52_SQLLogin_1;Password=aqexjbj6yf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>